{% extends 'processer/base.html' %}
{% load static %}

{% block title %}動画処理詳細ページ{% endblock %}

{% block content %}
<div class="row">

    <div class="col-sm-3">
        <div class="mt-3 mb-3">
            <span class="h1">編集画面</span>
            <span class="h4"><a href="{% url 'processer:index' %}">一覧ページ</a></span>
        </div>

        <div class="mt-3 mb-3 p-3 w-100 center-block border-primary rounded border">
            <div class="h6">
                Uploaded
            </div>
            <div class="h6">
                by <a href="{% url 'processer:index'%}?upload_by={{ obj.upload_by }}">{{ obj.upload_by}}</a>
                at {{ obj.upload_at}}
            </div>
            <div class="h5">
                <div>
                    <a href="{{ obj.upload.url }}">{{ obj.basename }}(元ファイル)</a>
                </div>
                {% if processedPath %}
                <div>
                    <a href="{{ processedPath }}">Processed File</a>
                </div>
                {% endif %}
            </div>
        </div>


        <div class="mt-3 mb-3 p-3 w-100 center-block border-primary rounded border">
            <div class="h4 mb-2">パラメーター調整</div>
            <form id="ajax_post" action="{% url 'processer:detail' obj.pk %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">差分平均枚数</span>
                    </div>
                    <input type="number" class="form-control" name="diffNum" min="0" value="5">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Brightness:<span class="pl-2" id="brightness_show">
                                0</span></span>
                    </div>
                    <input type="range" id="brightness" name="brightness" value="0" min="-128" max="128">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Contrast:<span class="pl-2" id="contrast_show"> 0</span></span>
                    </div>
                    <input type="range" id="contrast" name="contrast" value="0" min="-255" max="255">
                </div>
                <input type="submit" class="submit btn btn-primary" value="動画処理開始">
            </form>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="posts" class="mt-3
        ">
            <img src="{{ obj.headFrameURL }}" alt="プレビュー画像" width="45%">
            {% if processedPath %}
            <video src="{{ processedPath }}" width="700px" autoplay controls></video>
            {% endif %}
        </div>
    </div>
</div>
    {% endblock %}

    {% block extra_js %}
    <script src="{% static 'processer/js/ajax_csrf.js' %}"></script>
    <script>
        // id=ajax_post の値が変化するとイベント発生(Ajax通信)
        $('#ajax_post').on('change', e => {
            // デフォルトのイベントをキャンセルし、ページ遷移しないようにする
            e.preventDefault();

            $.ajax({
                'url': "{% url 'processer:ajax_image' obj.pk %}",
                'type': 'POST',
                'data': {
                    'brightness': $('#brightness').val(),
                    'contrast': $('#contrast').val(),
                },
                'dataType': 'json'
            }).done(response => {
                const p = $('<img>', { src: response.img, width: "45%" });
                $('#posts').children().replaceWith(p);
                $('#brightness').val(response.brightness);
                $('#contrast').val(response.contrast);
            });
        });
        // Brightnessの値を表示
        $('#brightness').on('change', function () {
            let val = $(this).val();
            $('#brightness_show').html(val);
        });
        // contrastの値を表示
        $('#contrast').on('change', function () {
            let val = $(this).val();
            $('#contrast_show').html(val);
        });
    </script>
    {% endblock %}