{% extends 'processer/base.html' %}

{% block title %}動画処理メインページ{% endblock %}

{% block content %}

{% if form %}
<div class="mt-3 mb-3">
    <div class="h1 mb-2">動画(.avi)のアップロード</div>
    <form action="{% url 'processer:index' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="upload" id="id_upload" accept=".avi">
                <label class="custom-file-label" for="inputFile">Choose file</label>
            </div>
        </div>
        <input class="submit btn btn-primary" type="submit" value="アップロード">
    </form>
</div>
{% endif %}


{% if objs %}
<div class="mt-3">
    <div class="h1">
        動画一覧
        {% if upload_by %}
        <span class="h2">by {{ upload_by }}</span>
        <span class="h3"><a href="{% url 'processer:index' %}">全ての動画へ戻る</a></span>
        {% endif %}
    </div>
    <div>
        {% for obj in objs %}
        <ul class="list-group">
            <li class="list-group-item">
                <div>
                    <div>
                        <a href="{% url 'processer:index'%}?upload_by={{ obj.upload_by}}">{{ obj.upload_by}}</a> {{obj.upload_at}}
                    </div>
                    <div>
                        <a href="{% url 'processer:detail' obj.pk %}">{{ obj.basename }}</a>
                    </div>
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
<!-- File Input にてファイル名を表示するための CDN -->
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script>
    bsCustomFileInput.init();
</script>
{% endblock %}